1. What are data structures, and why are they important?
  - Data structures are the way of organizing and storing data in a computer so that it can be accessed and modified efficiently.
  - For accessing and modifying the data whenever you need data structure is very important.
2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types means we can modify the objects after creation.
  - ex. List, Set, Dict...
  - Immutable data types means we cannot modify the objects after creation.
  - ex. Tuple, string...
3. What are the main differences between lists and tuples in Python?
  - Lists are mutable and tuples are immutable.
  - Elements are stored in lists using [ ] square brackets.
  - Elements are stored in tuples using ( ) paranthesis.
4. Describe how dictionaries store data.
  - Dictionaries are stores data as key-value pairs.
  - dictionaries are mutable.
  - it is unordered collection of data.
  - index is represented by keys.
5. Why might you use a set instead of a list in Python?
  - Because the set are not allowed the duplicates values and lists are allowed for this we have to use set instead of the lists.
6. What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters enclosed in quotes ( ' ' , " " ).
  - it is immutable.
  - used to store test data.
  - Lists is a collection of different data types.
  - it is mutable.
  - it is used to store any data types.
7. How do tuples ensure data integrity in Python?
  - tuples are immutable means they are not modify, update after creation.
8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores key-value pairs and allows for fast data access using a key.
  - keys are represented as index.
  - The dict (dictionary) is implemented internally using a hash table.
9. Can lists contain different data types in Python?
  - yes, lists contain different data types in Python.
10. Explain why strings are immutable in Python.
  - Immutability allows safe sharing and memory optimization.
  - data integrety will be done.
11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries use named keys instead of relying on index positions.
  - Can easily add, remove, or update values using keys.
  
12. Describe a scenario where using a tuple would be preferable over a list.
  - A tuple is preferable over a list when you need a fixed, unchangeable group of items — in other words, when immutability is beneficial.
13. How do sets handle duplicate values in Python?
  - In Python, sets automatically remove duplicate values.
  - A set is an unordered collection of unique, immutable elements.
14. How does the “in” keyword work differently for lists and dictionaries?
  - lists checks if a value exists in the list or not and it return boolean value.
  - dictionary checks if a key exists in the key : value pair or not and it also return answer in boolean form.
15. Can you modify the elements of a tuple? Explain why or why not.
  - No, we cannot modify the elements of a tuple because,
  - tuples are immutable,means they are not change after the creation.
16. What is a nested dictionary, and give an example of its use case?
  - nested dictionary means dict in another dict.
  - ex.
          students = {
             "101": {
                   "name": "Vaishnavi",
                   "age": 21,
                   "course": "BScIT"
             },
            "102": {
                  "name": "Rahul",
                  "age": 22,
                  "course": "BScCS"
            }
          }

          # Accessing a nested value
          print(students["101"]["name"])  # Output: Vaishnavi

17. Describe the time complexity of accessing elements in a dictionary.
  -
18. In what situations are lists preferred over dictionaries?
  - If you're only storing a sequence of values without needing labels, a list is simpler.
  - Lists allow repeating elements, unlike sets or dictionary keys.
  - Lists can be easily sorted or sliced by index.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - dictionaries were considered unordered because, They used a hash table that did not preserve the insertion order of key-value pairs.
  -  dictionaries are still primarily designed for key-based access, not order-based access like lists.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - In lists Elements are stored in order.
  - Access is done using integer indexes starting from 0.
  - Elements are stored as key-value pairs.
  - Access is done using keys, not indexes.

In [1]:
# 1. Write a code to create a string with your name and print it.

my_name = "Vaishnavi"
print("My name is:", my_name)

My name is: Vaishnavi

In [2]:
# 2. Write a code to find the length of the string "Hello World".

text = "Hello World"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

In [4]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase

text = "hello"
uppercase_text = text.upper()
print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")
print("Updated string:", new_text)

Updated string: I like orange

In [7]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element:", second_element)

Second element: b

In [13]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [15]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

In [16]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("Minimum number:", minimum)

Minimum number: 5

In [17]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index("cat")
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

In [18]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [19]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'a', 'b', 'c'}

In [20]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print("Set after clearing:", numbers)

Set after clearing: set()

In [21]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

numbers = {1, 2, 3, 4}
numbers.remove(4)
print("Updated set:", numbers)

Updated set: {1, 2, 3}

In [23]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1|set2
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [24]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [25]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Vaishnavi",
    "age": 21,
    "city": "Mumbai"
}
print("Dictionary:", person)

Dictionary: {'name': 'Vaishnavi', 'age': 21, 'city': 'Mumbai'}

In [32]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Name:", name_value)

Name: Alice

In [34]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [35]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [36]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [10, 20, 30]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25}

In [37]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [2, 20, 49, 59, 91]

In [38]:
# 28. Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at third index:", words[3])

Element at third index: date

In [39]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
# 30. Write a code to convert a list of strings into a set.

fruits_list = ["apple", "banana", "apple", "cherry", "banana"]
fruits_set = set(fruits_list)
print("Set of fruits:", fruits_set)

Set of fruits: {'banana', 'apple', 'cherry'}